{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "Order confirmed" %}!</h1>
        <p class="lead">{% trans "Your order has been successfully placed. Thank you for shopping with us" %}!</p>
        <div class="mt-4">
            <a href="{% url 'menu:dish_list_by_category' 'appetizers' %}" class="btn btn-primary btn-lg">{% trans "Browse more dishes" %}</a>
        </div>
    </div>
</div>
{% endblock content %}
