{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4 text-center">Add new dish</h1>
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>

                        <div class="form-group mb-3">
                            {{ form.description.label_tag }}
                            {{ form.description }}
                        </div>

                        <div class="form-group mb-3">
                            {{ form.category.label_tag }}
                            {{ form.category }}
                        </div>

                        <div class="form-group mb-3">
                            {{ form.price.label_tag }}
                            {{ form.price }}
                        </div>

                        <div class="form-group mb-3">
                            {{ form.availability.label_tag }}
                            {{ form.availability }}
                        </div>

                        <div class="form-group mb-3">
                            {{ form.image.label_tag }}
                            {{ form.image }}
                        </div>

                        <button type="submit" class="btn btn-success w-100">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
