{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if carousel_images %}
<div class="container mt-4">
    <div id="carouselExampleIndicators" class="carousel slide mx-auto" style="max-width: 90%; border-radius: 15px; overflow: hidden;" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for image in carousel_images %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for image in carousel_images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" alt="Corusel image" style="object-fit: cover; width: 100%; height: 500px; border-radius: 15px;">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endif %}

<div class="container mt-3">
    <div class="d-flex justify-content-end">
        {% if user.is_staff %}
            <a href="{% url 'main:manage_carousel' %}" class="btn btn-primary">Manage carousel</a>
        {% endif %}
    </div>
</div>

<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Recommended dishes</h2>
        {% if user.is_staff %}
            <a href="{% url 'main:manage_recommended_dishes' %}" class="btn btn-primary">Manage recommended dishes</a>
        {% endif %}
    </div>

    <div class="row">
        {% for dish in recommended_dishes %}
        <div class="col-md-4">
            <div class="card mb-4" data-bs-toggle="modal" data-bs-target="#dishModal-{{ dish.id }}">
                {% if dish.image %}
                    <img src="{{ dish.image.url }}" height="260" class="card-img-top" alt="{{ dish.name }}">
                {% else %}
                    <img src="{% static 'img/Default_dish.jpg' %}" height="260" alt="Default dish" class="card-img-top" title="Dish">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ dish.name }}</h5>

                    <p>
                        {% if dish.average_rating == 0 %}
                            Has no rating
                        {% else %}
                            Rating: {{ dish.average_rating }} / 5
                        {% endif %}
                    </p>

                    <p class="card-text"><strong>{{ dish.price }} uah</strong></p>

                    {% if user.is_authenticated %}
                        {% if dish.availability == "available" %}
                            <form action="{% url 'cart-add-item' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="dish_id" value="{{ dish.id }}">
                                <button type="submit" class="btn btn-primary mt-2">Add to Cart</button>
                            </form>
                        {% else %}
                            <span class="text-danger"><strong><br>Not available</strong></span>
                        {% endif %}
                    {% else %}
                        {% if dish.availability == "available" %}
                            <span class="text-success"><strong>Available</strong></span>
                            <text><br>Please <a href="{% url 'auth_system:login' %}">log in</a> to add this item to your cart.</text>
                        {% else %}
                            <span class="text-danger"><strong><br>Not available</strong></span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'dish_detail_modal.html' with dish=dish %}
        {% endfor %}
    </div>
</div>
{% endblock %}
