.navbar-brand img {
    max-height: 40px;
}

.profile-image {
width: 40px;
height: 40px;
border-radius: 50%;
object-fit: cover;
}

.carousel {
    height: 500px;
}

.carousel-inner img {
    height: 400px;
    margin: 0 auto;
}

.logout-form {
    display: flex;
    justify-content: flex-end; /* Выравнивание элементов по правому краю */
}

.logout-form button {
    background-color: #db0606; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границы кнопки */
    padding: 8px 16px; /* Отступы внутри кнопки */
    cursor: pointer; /* Изменение курсора при наведении */
    border-radius: 4px; /* Скругление углов кнопки */
    font-size: 14px; /* Размер шрифта */
}

.logout-form button:hover {
        background-color: #ff0000; /* Изменение цвета фона при наведении */
    }

.button-container {
    display: flex;
    justify-content: space-between; /* Распределение пространства между элементами */
    align-items: center; /* Выравнивание элементов по вертикали */
}

.container {
    padding-top: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
    font-size: 1rem;
    line-height: 1.4;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.availability-text {
    font-weight: bold;
}

.show-more {
        cursor: pointer;
        color: #1b83f2;
    }

.show-more:hover {
    text-decoration: underline;
}
