{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="/user/profile/" class="list-group-item list-group-item-action {% if request.path == '/user/profile/' %}active{% endif %} fs-5">Profile</a>
                <a href="/user/addresses/" class="list-group-item list-group-item-action {% if request.path == '/user/addresses/' %}active{% endif %} fs-5">Addresses</a>
                <a href="/user/orders/" class="list-group-item list-group-item-action {% if request.path == '/user/orders/' %}active{% endif %} fs-5">Orders</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <h2>Profile</h2>
                <div class="col-md-3">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            {% if user.avatar %}
                                <img src="{{ user.avatar.url }}"alt="Current Avatar" class="profile-image img-thumbnail mb-1">
                            {% else %}
                                <img src="{% static 'img/Default_avatar.jpg' %}" alt="Default Avatar" class="img-thumbnail profile-image mb-1">
                            {% endif %}
                            <h5 class="card-title">{{ user.username }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="id_first_name" class="fs-4 mb-1">First name</label>
                            <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ form.first_name.value }}" placeholder="Enter your first name">
                        </div>

                        <div class="mb-3">
                            <label for="id_last_name" class="fs-4 mb-1">Last name</label>
                            <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ form.last_name.value }}" placeholder="Enter your last name">
                        </div>

                        <div class="mb-3">
                            <label for="id_email" class="fs-4 mb-1">Email address</label>
                            <input type="email" class="form-control" id="id_email" name="email" value="{{ form.email.value }}" placeholder="name@example.com">
                        </div>

                        <div class="mb-3">
                            <label for="id_phone_number" class="fs-4 mb-1">Phone number</label>
                            <div class="input-group">
                                <span class="input-group-text">+380</span>
                                <input type="tel" class="form-control" id="id_phone_number" name="phone_number" value="{{ form.phone_number.value|slice:'4:' }}" pattern="\d{9}" title="Please enter the last 9 digits of your Ukrainian phone number" maxlength="9">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="id_date_of_birth" class="fs-4 mb-1">Date of Birth</label>
                            <input type="date" class="form-control" id="id_date_of_birth" name="date_of_birth" value="{{ form.date_of_birth.value|date:'Y-m-d' }}">
                        </div>

                        <div class="mb-3">
                            <label for="id_avatar" class="fs-4 mb-1">Avatar</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="id_avatar" name="avatar">
                                <label class="input-group-text" for="id_avatar">Upload</label>
                            </div>
                        </div>

                        {% if form.avatar.value %}
                            <div class="mb-3">
                                <input type="checkbox" class="btn-check" name="avatar-clear" id="avatar-clear" autocomplete="off">
                                <label class="btn btn-outline-danger" for="avatar-clear">Delete Avatar</label>
                            </div>
                        {% endif %}

                        <button type="submit" class="btn btn-outline-success">Save Changes</button>
                    </form>
                    <hr class="my-4">
                    <form action="{% url 'auth_system:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">
                            <img src="{% static 'img/logout_icon.png' %}" alt="Logout" style="width: 16px; height: 16px; margin-right: 8px;">
                            Log Out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
